body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif, ff-tisa-sans-web-pro;
  font-size: 1em;
  overflow-x: hidden;
  background-image: url(src/assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the background image covers the entire area */
 
}

html {
  scroll-behavior: smooth;
}
